<!--Associated Badgers : Group 1 -->
<!--Leah Theusch-->


<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Associated Badger's Modeling Interface</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="localStylesheet" href="../static/styles/main.css">
<style>
</style>

<body>

<div class="head">
 <img src="../static/images/ABLogo.png" alt="Associated Bank Logo"> 
 <hr>
 <h1>AB Machine Model Visualization </h1>
 <p>Enter the proper information below to add customer to modeling database and to reflect the changes.</p>
</div>

<div class="body">
    <div class="leftpane">
        <h2> Insert new customer information below: </h2>
        <form method = POST>
          <label for="name">Full Name:</label>

            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" id="userFirst" placeholder="First name" name="userOneFName">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="userLast" placeholder="Last name" name="userOneLName">
              </div>
            </div>

            <label>Address:</label>

            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" id="userAddress" placeholder="Street No./Name" name="userOneStreet">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Apt No.(if applicable)" name="userOneApt">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="userState" placeholder="City" name="userOneCity">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="userState" placeholder="State(abbrev.)" name="userOneState">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="userZipcode" placeholder="Zipcode" name="userOneZip">
              </div>
            </div>

            <br>

            <label>Is there a secondary user on account?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="secondUser" id="secUserNo" value="No" checked>
              <label class="form-check-label" for="exampleRadios1">
                No
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="secondUser" id="secUserYes" value="Yes">
              <label class="form-check-label" for="exampleRadios2">
                Yes
              </label>

              <div id="hide" style="display: none;">
                <label for="name">Full Name:</label>

            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control"  id="secUserFirst" placeholder="First name" name="userTwoFName">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="secUserLast" placeholder="Last name" name="userTwoLName">
              </div>
            </div>

            <label>Address:</label>

            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" id="secAddress" placeholder="Street No./Name" name="userTwoStreet">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Apt No.(if applicable)" name="userTwoApt">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="secState" placeholder="City" name="userTwoCity">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="secState" placeholder="State(abbrev.)" name="userTwoState">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="secZip" placeholder="Zipcode" name="userTwoZip">
              </div>
            </div>

              </div>
              <script src="../static/scripts/secondaryUser.js" type="text/javascript"></script>
            </div>
            <div style="text-align: center">
              <button type="submit">Add Information</button>
            </div>
        </form>
        <br>
    </div>

    <!-- <script src="../static/scripts/validate.js" type="text/javascript"></script> -->

    <!-- <div class="rightpane" style="text-align: center">
          filler until model can be inputted
          <img src="../static/graphs/graph.png" id="graph" alt="AB visualization model" width="90%" height="100%">
         Here is where the tableau feature would go
    </div> -->
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>