<!--Associated Badgers : Group 1 -->
<!--Leah Theusch-->


<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Associated Badger's Modeling Interface</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="../static/styles/main.css">
<style>
</style>

<body>

<div class="head">
    <img src="../static/images/ABLogo.png" alt="Associated Bank Logo"> 
    <hr>
 <h1>AB Machine Model Visualization </h1>
 <p>Enter the proper information below to remove customer to modeling database and to reflect the changes.</p>
</div>

<div class="body">
    <div class="leftpane" style="margin: 1%">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href = "remove.html">Remove</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="lookup.html">Lookup</a>
        </li>
      </ul>

        <h2> Insert customer information below: </h2>
        <form method = POST>
          <label for="name">ContactID:</label>

            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" id="usercontactID" name="usercontactID" placeholder="Contact ID">
              </div>
            </div>
        <br>
        <center>       
           <button type="submit">Remove User</button>
        </center>
      </form>
    </div>
    <script>
      const box = document.getElementById('hide');

      function handleRadioClick() {
        if (document.getElementById('secUserYes').checked) {
          box.style.display = 'block';
        } else {
          box.style.display = 'none';
        }
      }

      const radioButtons = document.querySelectorAll('input[name="secondUser"]');
      radioButtons.forEach(radio => {
        radio.addEventListener('click', handleRadioClick);
      });
    </script>
   
   <br>

   <center><h2>New Account Data Rendered:</h2></center>

   <div> {{ DATA_FRAME_OUTPUT|safe }} </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>