
.head {
    text-align: center;
    width: 100%;
    height: 20%;
    background-color: white;
}

.container{
    width: 100%;
    height: 100%;
    background-color:#075719;
    border-radius: .7em;
    text-align: center;
}

.body{
    width: 100%;
    height: 100%;
    border-radius: .7em;
    padding: 1%; 
    background-color: white;
   
}

.leftpane{
    height: 100%;
    background-color: white;
    border-radius: 4%;
    border-width: 27px;
    border-style: solid;
    border-color: #075719;
    padding: 1%;
   
}
